[2018-05-24 16:01] prabhakar267 opened #1 "Handling throttling"
For any given user, he must not be able to make more than X calls in Y seconds (X and Y configurable)
Reference: http://www.django-rest-framework.org/api-guide/throttling/

[2018-05-24 16:03] prabhakar267 opened #2 "Pagination"
All the `get` APIs which return more than one results should be paginated and the request and response objects should be indicative of the same
Reference: http://www.django-rest-framework.org/api-guide/pagination/

[2018-05-24 16:05] prabhakar267 opened #3 "Authentication"
+ Sign in and sign up APIs
+ Authorization of user info before accessing every other API
+ Sending `401` for unauthorized users

[2018-05-30 08:41] prabhakar267 opened #4 "[API request] Get nearest tourist attractions like monuments or parks given a pair of coordinates"
Given a pair of coordinates and a parameter `k`, return nearest `k` results of tourist attractions stored in a table sorted in ascending order by the distance from the given coordinates.
Each attraction object must contain:
 + exact coordinates
 + icon
 + name of the place
 + calculated distance from given coordinates

[2018-06-04 15:11] lavishsaluja commented on #3
Hi, Can I work on it? Can you tell me what do I need to learn exactly for building the Oauth there and what all should I refer?
PS: I am very new to development (this is my first time to open source) and have made a simple blog application using Django and some other simple web apps.

[2018-06-04 17:11] prabhakar267 commented on #3
@lavishsaluja someone (@AnirudhGoel ) is already working on this issue, you can probably work on something else.

[2018-06-04 17:35] lavishsaluja commented on #4
Can I work on this considering I am a beginner but I am ready to learn the implementation of algorithm required? I will probably need help in doing this I really want to implement this feature.

[2018-06-04 17:39] prabhakar267 commented on #4
@lavishsaluja  Sure, you can work on this
Let me know if you need any help

[2018-06-04 17:43] lavishsaluja commented on #4
Haha, I will need complete help as of now. This is my first step. How will I come to know which part of code I have to change and link to the new functions? I mean how do people get to understand a big code base? What least I should understand to start working on this in technologies?

[2018-06-05 05:43] prabhakar267 opened #6 "[API Request] Weather APIs for client to consume using openweathermap"
Use [OpenWeatherMap API](https://openweathermap.org) to have various endpoints for weather. We would need the following endpoints:
+ Current weather for a given city. Input would be the city name and response should contain `icon`, `humidity`,  `temperature ` and `one line description` using [this api](https://openweathermap.org/current)
+ 7 days forecast for a given city. Input would be city name

[2018-06-05 19:44] lavishsaluja commented on #4
Hi, Can we use this [Places API](https://developers.google.com/places/web-service/intro) or we want to build a similar service for our server?

[2018-06-09 19:19] #3 closed

[2018-06-10 15:20] #6 closed

[2018-06-12 09:11] Swati4star opened #8 "[API request] Get city names for autocomplete"
Add a new API to get the list of the cities whose name start with a given word (received as input to the API).
Each city entry should have following information:
- City id
- City name

[2018-06-13 04:26] prabhakar267 opened #9 "Add validations for password"
Currently there are no checks on format of the password, we simply assume a plain text string and store it as a hash in DB. Password must contain minimum 8 characters, at least 1 Alphabet, 1 Number and 1 Special Character.
Send a 400 BAD_REQUEST response in `sign-up` API if these criterion are not met.

[2018-06-13 20:28] nickgr123 commented on #9
Created my first open source pull request for this issue!

[2018-06-14 05:36] prabhakar267 opened #11 "Add a parameter for number of cities in "get-all-cities" API"
Currently `get-all-cities` API doesn't take any parameters and blindly returns a list of the cities in database. Instead take a parameters `k` to signify how many cities are to be returned.

[2018-06-14 05:38] prabhakar267 commented on #9
Closed by #10

[2018-06-14 05:38] #9 closed

[2018-06-14 10:48] mohitkh7 commented on #11
I am interested to work on this issue.

[2018-06-14 10:52] mohitkh7 commented on #11
Shall the parameter `k` be passed as
* URL Parameter - `api/get-all-cities/k`
or
* GET Paramter - `api/get-all-cities?k=<number>`

[2018-06-14 11:41] prabhakar267 commented on #11
URL parameter
You can take a look at other APIs [here](https://github.com/project-travel-mate/server/blob/master/api/urls.py)

[2018-06-16 07:51] prabhakar267 commented on #11
Fixed in #12

[2018-06-16 07:51] #11 closed

[2018-06-16 10:39] prabhakar267 commented on #4
Fixed in [d77f7b36a822720789da9dcdf98186524d54dad9](https://github.com/project-travel-mate/Travel-Mate/commit/d77f7b36a822720789da9dcdf98186524d54dad9)

[2018-06-16 10:39] #4 closed

[2018-06-18 11:49] mohitkh7 commented on #8
I am interested to work on this issue.

[2018-06-18 17:04] prabhakar267 commented on #8
@mohitkh7 This has been already fixed in bd04ecfe3d80fce6dace85f2af1c3d761e5a89bf
Sorry, didn't close this.
You can work on [other open issues](https://github.com/project-travel-mate/server/issues).

[2018-06-18 17:04] #8 closed

[2018-06-18 17:48] prabhakar267 opened #13 "[API Request] Feedback POST api"
To facilitate [#98](https://github.com/project-travel-mate/Travel-Mate/issues/98), we need to have a new table which stores feedbacks of the user with following fields:
+ feedback id
+ user id
+ created date
+ feedback text

And a POST API to let client make a call to populate this field

[2018-06-18 17:50] prabhakar267 opened #14 "[API Request] user firstname and lastname edit API"
Have a POST api which lets a user to update his `firstname` and `lastname` updating the new entries to users table

[2018-06-18 17:53] prabhakar267 opened #15 "[API Request] GET API to check PNR status"
Using [RailwayAPI](https://railwayapi.com/api/#pnr-status), have a GET endpoint to check PNR status for any given input string.
#### Input fields
+ PNR string
#### Output
+ Same response as RailwayAPI

[2018-06-18 18:32] prabhakar267 opened #16 "[API Request] Remove friend from a trip"
Currently you can only [add a friend to a trip](https://github.com/project-travel-mate/server/blob/master/api/modules/trips/views.py#L75), now a GET API is needed to remove a friend from a given trip.
Check if the currently logged in user is authorized (part of the trip) or not.
### Input Parameters
+ trip id
+ user (to be removed) id
### Response codes
+ 200 (successfully removed)
+ 404 (user or

[2018-06-18 18:36] prabhakar267 opened #17 "Profile image in user table"
Change user model to add profile image url in the users table and add the `profile_image` field in [`UserSerializer`](https://github.com/project-travel-mate/server/blob/master/api/modules/users/serializers.py#L7)
By default have a `null` value in `profile_image`
Also have a POST API to allow user to update his profile picture which takes input profile image url

[2018-06-18 18:39] prabhakar267 opened #18 "[API Request] Get user by ID"
A GET API to get all the details of the user using `user_id`
Reference Code: [User table interactions](https://github.com/project-travel-mate/server/blob/master/api/modules/users/views.py#L61) and [handling primary key](https://github.com/project-travel-mate/server/blob/master/api/modules/city/views.py#L27)

[2018-06-21 05:30] prabhakar267 opened #19 "Caching external API call responses"
For all the external API call responses ([get-shopping-info](https://github.com/project-travel-mate/server/blob/master/api/urls.py#L34), [get-city-weather](https://github.com/project-travel-mate/server/blob/master/api/urls.py#L29), [get-city-trends](https://github.com/project-travel-mate/server/blob/master/api/urls.py#L26), etc.), we need to cache their responses to make efficient usage of API cal

[2018-06-21 07:16] prabhakar267 opened #20 "[API Request] Call GitHub APIs to get a list of the users who have worked on project"
For all the repositories in the [organisation Project Travel Mate](https://github.com/project-travel-mate), make a call to [List contributors GitHub API](https://developer.github.com/v3/repos/#list-contributors) and fetch all the users who have worked on developing various projects sorted in the order of their `contributions`. Include following fields for each of contributor object.
+ GitHub usern

[2018-06-22 04:54] mohitkh7 commented on #18
I will like to work on this issue.

[2018-06-22 04:56] mohitkh7 commented on #18
Shall the details of staff user and superuser restricted like done over [here](https://github.com/project-travel-mate/server/blob/master/api/modules/users/views.py#L68).

[2018-06-22 05:19] prabhakar267 commented on #18
If you are picking by ID, I don't think these permissions make any difference.
You can return the user object regardless of these permissions.

[2018-06-22 12:29] prabhakar267 commented on #18
Closed in #22

[2018-06-22 12:29] #18 closed

[2018-06-22 20:00] akansha006 commented on #16
I would like to work on this issue.

[2018-06-22 20:03] akansha006 commented on #14
I would like to work on this.

[2018-06-23 06:02] prabhakar267 commented on #14
@akansha006 Yes you can work on this one
You can complete this one and then pick the other one.

[2018-06-23 06:06] mohitkh7 commented on #13
I am interested to work on this issue.

[2018-06-23 06:50] Pradhvan commented on #20
@prabhakar267 can I take this issue up ?

[2018-06-23 07:06] prabhakar267 commented on #13
@mohitkh7 sure you can pick this one

[2018-06-23 07:06] prabhakar267 commented on #20
@Pradhvan sure

[2018-06-23 13:55] mohitkh7 commented on #15
RailwayAPI requires an [api-key] with each request. How to get it ?

[2018-06-24 06:54] IHackPy commented on #16
Sure Akansha you can start work on that If having any issue ping us here or on slack :+1:

[2018-06-24 08:10] prabhakar267 commented on #13
Fixed in #23

[2018-06-24 08:10] #13 closed

[2018-06-24 08:12] Swati4star commented on #13
@prabhakar267 Share the endpoint & request parameters for this API.

[2018-06-24 08:18] prabhakar267 commented on #13
Endpoint: `/add-feedback` POST
with `text` as one of the POST parameters

[2018-06-24 08:27] prabhakar267 opened #24 "[API Request] Get all feedbacks of user and get one feedback by feedback id"
We have a feedback model, make two GET apis
### Get all feedbacks
API to get a list of all the feedbacks for a given user
#### Input parameter
#### Outputs
List of feedback objects sorted in descending order of time, which includes feedback ID, feedback type and date

### Get all feedbacks
API to get feedback object for a given feedback ID
Check if the user is authenticated to view this feedback o

[2018-06-24 08:31] prabhakar267 opened #25 "[Documentation] Add Windows setup instructions"
Currently [setup instructions](https://github.com/project-travel-mate/server/blob/master/README.md#local-setup-instructions) only contain instructions for Linux, add instructions for Windows setup as well

[2018-06-24 08:33] akansha006 commented on #25
I will work on this.

[2018-06-24 08:51] prabhakar267 opened #26 "Include "feedback type" in feedback model"
The Feedback model needs to have another field `feedback type`
Add this field in the [add-feedback](https://github.com/project-travel-mate/server/blob/master/api/modules/feedback/views.py#L9) POST api as well

[2018-06-24 08:53] mohitkh7 commented on #26
I am interested to work on it.

[2018-06-24 08:54] mohitkh7 commented on #26
I assume feedback type should be a choice field.
What all choices should it have ? Any reference for it ?

[2018-06-24 08:55] prabhakar267 opened #27 "[API Request] GET API for currency convertor"
Using [The Free Currency Converter API](https://free.currencyconverterapi.com) make a GET API that takes two currencies, `source_currency` and `target_currency` and make a call to the API and render the conversion rate as output

[2018-06-24 08:56] prabhakar267 commented on #26
You can consider it as an string input you will get in API call
_ENUM-ification_ of that can be handled on client side
(sounds right @Swati4star ?)

[2018-06-24 09:21] prabhakar267 opened #28 "[API Request] Get profile API"
API to get profile of the signed in user similar to `get-user-by-id`
+ Takes no input ( use `request.user` to get current user object)
+ Return UserSeralizer response

[2018-06-24 09:33] mohitkh7 commented on #26
@prabhakar267 what should be default feedback type ?

[2018-06-24 09:38] prabhakar267 commented on #26
Currently there are 3 types: `Crash`, `Feature Request`, `Other`

You can have `Other` as default
But it should be a required parameter in POST API

[2018-06-24 12:36] #26 closed

[2018-06-24 12:50] mohitkh7 commented on #15
@prabhakar267  do I need to get new api-key or is there existing key for this project ?

[2018-06-24 12:54] mohitkh7 commented on #17
can i work on this issue ?

[2018-06-24 13:05] prabhakar267 commented on #17
@mohitkh7 sure

[2018-06-24 14:17] Swati4star commented on #28
send `joined_on` also in the response.

[2018-06-24 14:59] prabhakar267 opened #30 ""created_at" in user table"
Change user model to add profile `created_at` in the users table and add it in UserSerializer
For current entries, set the `created_at` time to `now`.

[2018-06-24 15:02] prabhakar267 commented on #17
@mohitkh7 You can read [this](https://simpleisbetterthancomplex.com/tutorial/2016/07/22/how-to-extend-django-user-model.html) blogpost and get a help on how to do the fix
I'd prefer **Option 2**: Using One-To-One Link With a User Model (Profile)

[2018-06-25 05:23] techac commented on #30
i want to work on this

[2018-06-25 05:31] prabhakar267 commented on #30
@techac sure
You `date_joined` field in User table to achieve this, I don't think there's any need to generate a new field

[2018-06-25 06:51] arunikayadav42 commented on #28
Is anybody working on this issue or can I get started with it please :)

[2018-06-25 06:51] arunikayadav42 commented on #27
Can I get started with this issue please :)

[2018-06-25 06:59] arunikayadav42 commented on #27
Also if you could help me get started Like I only know a bit of django and am still learning the same so any help would be appreciated...

[2018-06-25 07:15] arunikayadav42 commented on #24
Can I start working on this issue please :)

[2018-06-25 07:55] prabhakar267 commented on #28
@arunikayadav42 You can work on this 👍

[2018-06-25 12:56] arunikayadav42 commented on #27
@prabhakar267 also on this issue..can I work on this issue too :)

[2018-06-25 13:10] prabhakar267 commented on #27
@arunikayadav42 You complete one issue, then you can pick other 👍
We have a plenty of issues, don't worry

[2018-06-25 16:01] #17 closed

[2018-06-26 01:35] darthgera123 commented on #27
is this issue assigned or can i work on this?

[2018-06-26 04:44] prabhakar267 commented on #27
@darthgera123 you can work on this

[2018-06-26 04:47] arunikayadav42 commented on #27
@prabhakar267 actually this was a good first issue so I wanted to start off with this one if it's alright :)

[2018-06-26 05:08] arunikayadav42 commented on #27
Moreover @prabhakar267 I have already started working on this one so if you could please offer @darthgera123 some other issue :)

[2018-06-26 05:23] prabhakar267 commented on #27
@arunikayadav42 please claim only one issue at a time
Once you fix that or release it for someone else, then only claim another one
There are a lot of people wanting to work on the project, let's maintain the basic OSS courtesy
Thanks

Making an exception for this time since you have started working on the issue. You would have to complete this issue before you claim any other issue. PRs by you fo

[2018-06-26 06:30] darthgera123 commented on #27
no problem

[2018-06-26 06:34] darthgera123 commented on #24
@arunikayadav42 please let me work on this lol

[2018-06-26 09:46] brijeshshah13 commented on #20
@Swati4star @prabhakar267 I think we should display contributors of each repo. in the respective app. I mean displaying contributors who contributed to android app here and vice-versa doesn't add up. That will infact create more problems in searching for actual contributors of the respective repo.

[2018-06-26 09:49] Swati4star commented on #20
We can have different APIs for contributors of Android repo & server repo.
We can show both in the app under different headings.

[2018-06-26 09:51] brijeshshah13 commented on #20
@Swati4star So in android app, we will display contributors of android repo and server repo separately under different headings and in descending order of number of contributions, correct?

[2018-06-26 09:52] Swati4star commented on #20
Yes.

[2018-06-26 09:56] brijeshshah13 commented on #20
@Swati4star Also, I don't think we need to add Display name as we are already showing the github username along with the profile URL. That will only add the overhead of calling one more API call as the Display name isn't included in the response.

Sample response of each contributor:

[code]

[2018-06-26 10:23] brijeshshah13 commented on #20
@Swati4star Any updates on the above suggestion?

[2018-06-26 10:26] prabhakar267 commented on #20
@brijeshshah13 Let's remove display name

[2018-06-26 10:44] techac commented on #30
@prabhakar267  so date_field is by default is set as time.now so do you  want me to include it in serialisers

[2018-06-26 10:48] brijeshshah13 commented on #20
@prabhakar267 Cool. @Swati4star Please take a note of this while designing the UI for the android app.

[2018-06-26 11:16] prabhakar267 commented on #30
@techac Yes

[2018-06-26 12:04] mohitkh7 commented on #19
@prabhakar267 What is the reason for preferring [Requests-cache](http://requests-cache.readthedocs.io/en/latest/index.html) and not [Django's Cache Framework](https://docs.djangoproject.com/en/2.0/topics/cache/)

[2018-06-26 12:29] prabhakar267 commented on #19
No preference

[2018-06-26 15:48] brijeshshah13 commented on #20
@prabhakar267 Is is really necessary to implement this API endpoint in our server as that will too you call the GitHub end-point and forward the same response. Can we directly call it from the app itself?

[2018-06-26 15:55] prabhakar267 commented on #20
You need to compute this list once and use it multiple times
This computation can be cached on the server, saving the API calls to GitHub

[2018-06-26 15:57] brijeshshah13 commented on #20
The GitHub end-point already does the caching. `This endpoint may return information that is a few hours old because the GitHub REST API v3 caches contributor data to improve performance.`, as stated in the docs.

[2018-06-26 18:02] brijeshshah13 commented on #20
@prabhakar267 @Swati4star Please let me know your final decision, i.e., if it is still going to be implemented in our server or not?

[2018-06-26 19:19] arunikayadav42 commented on #24
Sure :) you don't need my permission to :+1:

[2018-06-26 21:30] arunikayadav42 commented on #27
@prabhakar267 when I am trying to run python manage.py test it gives me the following error.
![screenshot from 2018-06-27 02-58-45](https://user-images.githubusercontent.com/28708494/41940400-3bf812cc-79b6-11e8-9fce-a8c986726678.png)
Please help me.

[2018-06-27 03:34] #28 closed

[2018-06-27 06:30] Swati4star commented on #20
@brijeshshah13 This will be implemented in the server.
It would become messed up in our code to get the contributors for server & android repo individually, whereas if it will be implemented by our server, we will have a consolidated list for both.

The caching will also be more effective if it's implemented in our server (@prabhakar267 can explain better)

[2018-06-27 06:32] brijeshshah13 commented on #20
@Swati4star Cool ! Meanwhile, can I take up another issue as it can't implemented in app until the end-point is incorporated in the server?

[2018-06-27 09:47] arunikayadav42 commented on #27
@prabhakar267 any comments on the above error ?

[2018-06-27 11:28] prabhakar267 commented on #27
@arunikayadav42 I faced the same issue, I don't remember exactly what I did to fix it
You can have a look at this answer https://stackoverflow.com/a/14186439/5602759
I remember this solved my problem

[2018-06-27 18:05] techac commented on #30
@prabhakar267  sir i as this my first PR so i have some doubts
like for experiment i created new superuser to DB so do everytime i need to delete the user and then commit changes for PR .. Plz help tq

[2018-06-28 05:57] prabhakar267 commented on #30
@techac Let's connect on the slack channel

[2018-06-28 14:27] techac commented on #30
![screenshot from 2018-06-28 19-55-44](https://user-images.githubusercontent.com/33215722/42040466-4dfc1c7c-7b0d-11e8-86c1-b0b226497ae3.png)
@prabhakar267  why i am getting this error i was not getting it previously....

[2018-06-28 14:32] prabhakar267 commented on #30
Do you have the latest commits locally?

[2018-06-28 14:46] #19 closed

[2018-06-28 14:47] techac commented on #30
yes

[2018-06-28 14:48] prabhakar267 commented on #30
`python manage.py migrate`

[2018-06-28 14:49] prabhakar267 commented on #20
@Pradhvan status?

[2018-06-28 19:00] mohitkh7 commented on #1
I am interested to work on it.

[2018-06-28 19:11] techac commented on #30
hello actually there was a problem inn ubuntu version.... dpkg
PR made #40 for review

[2018-06-28 20:28] prabhakar267 commented on #30
Fixed in #40
Thanks to @techac

[2018-06-28 20:28] #30 closed

[2018-06-28 20:41] prabhakar267 opened #41 "[API Request] Add home route and 404 routes"
Currently we don't have a 404 route or home route.
+ For 404 route, we should be **permanently** redirecting the user to home route.
+ For home route (`/`), we redirect the user to [Travel mate website](http://project-travel-mate.github.io/Travel-Mate)

[2018-06-28 21:03] prabhakar267 opened #42 "Store number of times a "get-city" in a new city logs table"
Every time a user calls `get-city` API, we should make an entry to city query logs table (_to be made_) which has the information about the of that query made, user and the city called.
This will help us get an analysis of what city is trending and what city is most visited by a specific user.

[2018-06-28 21:16] prabhakar267 opened #43 "[API Request] Create APIs for "About Us" and "Help""
`GET` APIs to serve about us and help pages on the android app.
- As a part of this, you need to generate two static JSON files (`about-us.json` and `help.json`) which should be present in `api/resources` directory.
- Structure of `about-us.json` should be an object with one key (`description`)
- Structure of `help.json` should be a list with each item being one help string.
- Both the JSONs shoul

[2018-06-28 21:18] prabhakar267 commented on #15
Closing this since, we are not planning to implement it currently
/cc @Swati4star

[2018-06-28 21:18] #15 closed

[2018-06-28 21:24] prabhakar267 opened #44 "[API Request] Call GitHub APIs to get a list of all the current open issues for org"
For all the repositories in the [organisation Project Travel Mate](https://github.com/project-travel-mate), make a call to [List issues for a repository GitHub API](https://developer.github.com/v3/issues/#list-issues-for-a-repository) and fetch all the currently open issues. Include following fields for each object.
+ Issue title
+ Created at
+ Number of comments
+ Repository URL
+ Issue number
+

[2018-06-29 03:41] prabhakar267 opened #45 "[API Request] Get all visited cities with count"
Return a list of all the cities visited (trip) by a user along with the number of times he visited them.
Pick the user id from `request`
Output should a list of objects, each containing following information
+ city object
+ count

[2018-06-29 03:51] prabhakar267 opened #46 "[API Request] Store "checklist" information in database to sync"
Expose 2 APIs (`GET` and `POST`) to store and serve checklist information from user.
Create new checklist table with following fields
+ user
+ checklist_items
+ last_updated

On every POST call, you will get a list of all the checklist items, you can store the complete response as a field in table.
For GET API, you need to return the checklist object, with above attributes

[2018-06-29 04:02] prabhakar267 opened #47 "[API Request] Places API"
Call [Here Places API](https://developer.here.com/documentation/places/topics/quick-start-find-text-string.html) to fetch results.
Cache results to serve them faster ([Reference Code](https://github.com/project-travel-mate/server/blob/master/api/modules/city/views.py#L15))
### Input Parameters
+ latitude
+ longitude
+ category_tags

### Output (a list of object, each containing following)
+ title

[2018-06-29 05:49] darthgera123 commented on #24
there is no feedback id in the table, so i am creating one. Also how do i test my querries?

[2018-06-29 06:25] techac commented on #45
@prabhakar267 i want to work on this

[2018-06-29 08:46] mohitkh7 commented on #1
I have some doubts
1. Which all views should I cover in throttling ? All Views or some specific views ?
2. What should be throttling rate ? I suggest 100 request/hour per view or 1200 -1500 request/hour for all views.
3. Should I also consider throttling against request from anonymous user ?

[2018-06-29 13:18] Man-Jain commented on #47
I would like to work on this issue.

[2018-06-29 14:08] prabhakar267 commented on #47
@Man-Jain  sure

[2018-06-29 14:42] prabhakar267 opened #48 "[API Request] Get friends"
For a given, send a list of all the users, with whom our current user has ever been on trip with.

[2018-06-29 14:54] prabhakar267 opened #49 "[API Request] Make a call to standard Twitter search API"
[Twitter Reference Docs](https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets)
### Input parameters
+ search query

### Output
A list of objects, each containing
+ `created_at`
+ `text `
+ `username`
+ `user_screen_name`
+ `user_profile_image`
+ `retweet_count`
+ `favorite_count`

[2018-06-29 15:03] prabhakar267 opened #50 "[API Request] Zomato API for nearby food outlets"
Integrate with [Zomato API](https://developers.zomato.com/documentation) to get a list of nearby food outlets and information about them
### Input parameters
+ `latitude`
+ `longitude`

### Output
A list of objects, each containing
+ `restaurant _id`
+ `restaurant_name`
+ `restaurant_url`
+ `restaurant_latitude`
+ `restaurant_longitude`
+ `average_cost_for_two`
+ `currency`
+ `restaurant_image (fe

[2018-06-29 15:15] prabhakar267 opened #51 "[API Request] In-app notifications module"
+ Create a new table with notifications information. Every time a user is removed or added to a trip, make an entry to the table with current time, user initiating the flow and relevant text
+ A GET API to show all the notifications for a given user
Notification table should have
+ initiator user
+ destined user
+ trip
+ timestamp
+ notification text
+ read_unread flag

[2018-06-29 15:31] prabhakar267 opened #52 "[API Request] Update password"
POST API to update user's password. Verify if the old password is correct or not.
If correct, change the password and update the user session.
### Input parameters
+ old password
+ new password

### Output
+ response code

[2018-06-29 15:33] prabhakar267 commented on #1
1. All the views should have a throttling limit
2. I think it should be both
3. Anonymous users can only access sign-up and sign-in APIs so we should consider throttling those for someone making malicious users

[2018-06-29 15:40] #14 closed

[2018-06-29 17:42] #1 closed

[2018-06-30 06:55] mohitkh7 commented on #2
I want to work on this issue.

[2018-06-30 06:57] prabhakar267 commented on #2
I don't think client is mature enough to handle this
I'd suggest you pick something else
Because anyways I won't be able to merge it until client has pagination capabilities

[2018-06-30 07:08] mohitkh7 commented on #2
ok

[2018-06-30 07:18] mohitkh7 commented on #51
I am interested to work this issue.

[2018-06-30 10:55] prabhakar267 commented on #27
@arunikayadav42 updates?

[2018-06-30 11:19] arunikayadav42 commented on #27
I am still trying to dealing with that error....

[2018-06-30 11:42] prabhakar267 commented on #27
Ping me on slack

[2018-06-30 21:55] darthgera123 commented on #27
its simple you can log into the postgres shell and type ALTER USER nomad CREATEDB; and it works like a charm

[2018-06-30 23:30] Man-Jain commented on #47
Can you please tell me where this implementation has to be done and something else for me to get it done.

[2018-07-01 04:52] arunikayadav42 commented on #27
I will try to look into it again today :)

[2018-07-01 06:09] #24 closed

[2018-07-01 06:12] darthgera123 commented on #50
i would like to work on this issue

[2018-07-01 06:15] #25 closed

[2018-07-01 06:28] prabhakar267 commented on #47
+ Add it as a new module where you call HERE API
+ Create a new serializer, response class and cache the results

[2018-07-01 06:28] prabhakar267 commented on #27
@darthgera123 can you raise a PR with this in README?

[2018-07-01 12:36] #42 closed

[2018-07-01 18:27] akansha006 commented on #52
I would like to take up this issue.

[2018-07-01 21:34] arunikayadav42 commented on #27
Can I raise it?

[2018-07-01 21:43] darthgera123 commented on #27
sure

[2018-07-01 22:25] arunikayadav42 commented on #27
Can somebody tell me that even after running localhost:8000 in the browser I dont see anything running.why is it so?

[2018-07-02 04:23] arunikayadav42 commented on #27
@prabhakar267 I need your help please how do I connect with you on slack please let me know!

[2018-07-02 04:34] arunikayadav42 commented on #27
Also does it have to be a separate api directory or will it be inserted in the views.py module of existing apis?

[2018-07-02 08:17] prabhakar267 commented on #27
@arunikayadav42 are you working on this as a part of GSSoC?
If so you would have had gotten a invitation for slack channel
If not, you can ping me on Hangouts (prabhakargupta267@gmail.com)

[2018-07-02 08:22] Man-Jain commented on #47
Sorry @prabhakar267 I will not be able to add this feature.
I did the code for calling the api and the response clasa but couldn't implement the serializer.

[2018-07-02 08:27] prabhakar267 commented on #47
@Man-Jain if you are facing any problem, everyone would be more than happy to help 😄

[2018-07-02 08:32] Man-Jain commented on #47
@prabhakar267 Well I am not at all familier with django models and serialisers so don't know how to implement them. 😅

[2018-07-02 08:48] prabhakar267 commented on #47
Here you go
https://docs.djangoproject.com/en/2.0/topics/db/models/
http://www.django-rest-framework.org/api-guide/serializers/

Start with these and if you have any query feel free to ping me on slack

[2018-07-02 14:23] prabhakar267 opened #58 "[API Request] Update trip_name API"
Have a POST API for updating `trip_name`  for trips modules
### Input parameters
+ trip_id
+ trip_name (new)
### Output
+ status_code

Remember to check if user is authorized to access that particular trip or not.

[2018-07-02 14:59] #16 closed

[2018-07-02 17:06] techac commented on #45
@prabhakar267  i am thinking to implement it by making model with two foreign keys, one to City and other to user ......then make the desirable view and serializer... Is this Okay? or should I implement it in more nicer way?....Do suggest...tks

[2018-07-02 18:14] prabhakar267 commented on #45
There is a model [CityVisitLog](https://github.com/project-travel-mate/server/blob/master/api/modules/city/model.py#L27) which has this information
Try to leverage that instead of making a new one

[2018-07-03 04:38] techac commented on #58
@prabhakar267  i want to work on this issue

[2018-07-03 09:31] techac commented on #45
you may review changes now

[2018-07-03 10:42] #51 closed

[2018-07-03 11:11] prabhakar267 opened #60 "[API Request] Make a GET API to mark one notification as read"
Make a GET API that takes one notification id and marks it as read in database.
Do remember to check if the user is `destined_user` for that particular notification
### Input Parameters
+ Notification ID

### Output
+ status code

[2018-07-03 11:16] mohitkh7 commented on #60
Can I work on this issue ?

[2018-07-03 11:29] prabhakar267 commented on #60
@mohitkh7 Since you have built the notifications module
Can you add similar API for bulk mark as read also that takes a list of notification ids

[2018-07-03 12:23] mohitkh7 commented on #60
I did this for one id. But not sure how to send multiple ids in url.
One approach can be to send it as
`api/mark-notification-as-read?id=1&id=2&id=3`
but I don't think it is correct way to do in APIs.

 Another approach can be to have separate view which mark **all unread notification** for a user as read.

[2018-07-03 16:16] prabhakar267 commented on #60
@mohitkh7 I think it makes sense to have mark all unread notifications API instead of taking a list of ids
Please add that as well.

[2018-07-03 17:58] #60 closed

[2018-07-04 03:28] knightcube opened #62 "[Feature Request] Add nicknames to cities"
In the main screen with all the cities listed we can show a nickname corresponding to each city. For eg) Bangalore - sillicon valley of India, Kolkata - city of Joy, etc.
A list of nicknames of cities can be found here https://ugcportal.com/raman-files/Nicknames-of-Indian-Cities.pdf

Make a new model with nicknames information and make relevant changes to [CitySerializer](https://github.com/projec

[2018-07-04 08:24] arunikayadav42 commented on #41
I would want to take up this issue :)

[2018-07-04 08:25] arunikayadav42 commented on #62
I would want to take up this issue as my next task :)

[2018-07-04 08:56] mohitkh7 commented on #20
if @Pradhvan is not working on this issue anymore, can I take this up ?

[2018-07-04 09:47] prabhakar267 commented on #20
@Pradhvan has been inactive for quite sometime, assigning it to @mohitkh7

[2018-07-05 05:39] knightcube opened #67 "[Feature Request] Best time to visit"
Add the Best time to visit. For eg) Manali -  October to February

[2018-07-05 05:41] knightcube opened #68 "[Feature Request] Add ways to reach a particular location"
For eg)
How to reach
By air: Located at a distance of about 52 kms, Kullu-Manali airport is the nearest airport to Manali.
By rail: Joginder Nagar is the nearest railway station to Manali located at a distance of about 160 kms.
By road: Manali can be easily reach by road via private cabs, cars, and state-run or private buses from the nearby cities of New Delhi, Chandigarh, Pathankot, Ambala, and s

[2018-07-05 06:02] prabhakar267 commented on #67
@knightcube how do you plan on adding data for this?

[2018-07-05 06:03] prabhakar267 commented on #68
@knightcube how do you plan on adding data for this?

[2018-07-05 06:03] knightcube commented on #67
Hardcode data like - From month A to month B

[2018-07-05 06:06] knightcube commented on #67
But still there is another way we can do this. I mean we can generate a Poll quiz for the users where we can get the responses and then according to that update the database for this feature?

[2018-07-05 08:45] prabhakar267 commented on #67
@knightcube so before we go ahead and implement "Best time to visit" feature, we should be considering the "poll quiz" feature

[2018-07-05 08:46] knightcube commented on #67
Yeah

[2018-07-05 14:27] techac commented on #45
you may review pull request #69 for approval

[2018-07-05 16:19] #45 closed

[2018-07-05 16:56] prabhakar267 opened #71 "[API Request] Update Profile model to have user status"
+ Change Profile model to incorporate user status as well
+ Make changes to User serializer to show status
+ Make an API to add/update (both in single api) user status

[2018-07-05 19:35] techac commented on #48
I want to work on this issue........
I am planning to implement in trips module and using trip model making the desired api call..

[2018-07-06 05:49] #58 closed

[2018-07-06 14:29] techac commented on #71
@prabhakar267  i am willing to work on this issue but can you explain me what you mean by user status.....

[2018-07-07 06:12] prabhakar267 commented on #71
@techac Please complete the issue you are already assigned, then you can go for issue-hunting 😄

[2018-07-07 07:57] #27 closed

[2018-07-07 10:28] techac commented on #48
@prabhakar267  you may review the PR #74  for approval

[2018-07-07 13:27] arunikayadav42 commented on #41
Does this mean that when django throws a 404 error we should redirect him to home page ?where do I exactly start working on this?

[2018-07-07 13:35] arunikayadav42 commented on #41
do we have to use routers?

[2018-07-07 15:30] mohitkh7 commented on #20
@prabhakar267 kindly review the changes.

[2018-07-08 07:18] #20 closed

[2018-07-08 07:24] techac commented on #48
@prabhakar267 you may review PR #74

[2018-07-08 07:28] prabhakar267 commented on #48
@techac I was just adding comments only
Code looks fine, just a minor code placement change
Update your code and I will be able to merge it 😄

[2018-07-08 07:54] #48 closed

[2018-07-08 07:58] prabhakar267 opened #76 "[API Request] Remove profile picture API"
GET API to remove current profile picture for the user. It shouldn't take any input parameters, use the `request.user` information to remove profile picture from `Profile` table
Note: If the `Profile` table doesn't have any entry, do make an entry to `Profile` table

[2018-07-08 08:01] techac commented on #71
@prabhakar267  now can you tell what exactly do you mean by user status

[2018-07-08 08:06] prabhakar267 commented on #71
A status string

[2018-07-08 08:34] mohitkh7 commented on #76
Can I take up this issue ?

[2018-07-08 13:30] mohitkh7 commented on #49
Can I work on this issue ?

[2018-07-08 13:32] prabhakar267 commented on #49
@mohitkh7 Make a new module and serializer for this task
You will have to move the city trends code to that new module as well

[2018-07-08 14:44] Swati4star commented on #76
@prabhakar267 @mohitkh7 What is the final endpoint & input parameters for this API?

[2018-07-08 14:58] mohitkh7 commented on #76
final endpoint is _/api/remove-profile-image_
And It doesn't requires any input parameter.

[2018-07-08 15:33] Swati4star commented on #76
Thanks! 👍

[2018-07-08 17:32] Swati4star commented on #24
@prabhakar267 Mention the endpoint of this API.

[2018-07-09 05:17] #71 closed

[2018-07-09 05:47] techac commented on #44
@prabhakar267 i want to work on this issue but can you give me guidance of how it will be implemented and give me some resources which i can refer to... thks...

[2018-07-09 06:02] Swati4star commented on #71
@prabhakar267 @techac
Mention the endpoint & parameters required.

[2018-07-09 10:11] iamdaaniyaal commented on #46
@prabhakar267 Is this issue resolved??
If not I would like to work on it

[2018-07-09 10:13] iamdaaniyaal commented on #71
@prabhakar267 I would like to work on this if this issue is not taken up by someone

[2018-07-09 11:05] prabhakar267 commented on #44
@techac You can have a look at #64

[2018-07-09 11:05] prabhakar267 commented on #71
@iamdaaniyaal It's already closed
You can have a look at other open issues

[2018-07-09 11:58] iamdaaniyaal commented on #46
@prabhakar267
last_updated is a timestamp field?

[2018-07-09 16:33] prabhakar267 opened #80 "[Bug] If the user doesn't have a Profile, "get-user" API fails"
If the user doesn't have a `Profile`, `get-user` API fails
### Expected Behaviour
If the user is correct, a new `Profile` should be generated, returning the response accordingly

### Error logs
[code]

[2018-07-09 17:58] #49 closed

[2018-07-09 18:01] prabhakar267 commented on #46
Yes

[2018-07-10 11:08] prabhakar267 opened #82 "[Feature Request] Add trip information to trip notifications"
Currently there is no information about trip, add a field for trip in notification model and accordingly make changes in trips module where notifications are generated

[2018-07-10 11:15] Swati4star opened #83 "[API Request] Get count of unread notifications of a user"
GET API to get count of the unread notifications of a user

[2018-07-10 12:52] mohitkh7 commented on #83
@prabhakar267 can I work on this issue ?

[2018-07-10 17:49] #83 closed

[2018-07-10 17:51] #67 closed

[2018-07-10 18:20] #80 closed

[2018-07-10 18:20] #82 closed

[2018-07-11 05:21] #50 closed

[2018-07-11 06:23] darthgera123 commented on #62
if no one has taken up ill take the issue

[2018-07-11 06:25] darthgera123 commented on #68
i think this can be solved using Google Maps Api where the nearest railway station and airport can be tracked.

[2018-07-11 09:40] techac commented on #52
@prabhakar267 i think this issue is no longer in progress so i want to take it as my next issue.
But I have a doubt if it is safe to update password like this? I guess it may cause security breach..

[2018-07-11 14:36] #41 closed

[2018-07-11 14:44] prabhakar267 commented on #52
@techac Please claim other issues once you are done with the one you are working on.
Raising PR doesn't mean it's complete, you need to wait for the changes to be approved and merged.
There's no point in spamming every issue

[2018-07-11 14:46] arunikayadav42 commented on #52
@prabhakar267 can i take this one up?

[2018-07-11 15:13] prabhakar267 commented on #52
@arunikayadav42  sure

[2018-07-11 18:06] prabhakar267 opened #86 "[API Request] Get common trips with a friend"
For a given user, return a list of trips that are common between the given user and the current signed-in user
### Input parameters
+ User ID
### Output
+ List of common trips

[2018-07-11 18:15] prabhakar267 opened #87 "[API Request] API to get currency conversion history"
Use [Historical currency converter web service](http://currencies.apps.grandtrunk.net/) to get information about currency rates history. Use **List of historical conversion rates** API ([Reference response](http://currencies.apps.grandtrunk.net/getrange/1999-01-01/2000-01-01/eur/usd)).
Currently the API collapses the conversion rates that are same, you need to return a conversion rate for each day

[2018-07-11 18:50] mohitkh7 commented on #86
I am interested to work on this issue.

[2018-07-11 21:44] darthgera123 commented on #87
can i work on this issue

[2018-07-12 07:50] mohitkh7 commented on #86
What should be the response if input paramter _User_ID_ is same as _current signed-in user ID_

Shall It return error or all trip with which he is associated ?

[2018-07-12 09:00] prabhakar267 commented on #86
You can send a `400` response code

[2018-07-12 16:18] #44 closed

[2018-07-12 16:22] #86 closed

[2018-07-13 05:53] Swati4star opened #89 "[API Request] Remove user status"
GET API to remove status for a given user. It shouldn't take any input parameters, use the `request.user` information to remove status from `Profile` table
Note: If the `Profile` table doesn't have any entry, do make an entry to `Profile` table
Reference Issue #76

[2018-07-13 13:29] techac commented on #89
@Swati4star  i would like to take up this issue

[2018-07-13 13:31] Swati4star commented on #89
@prabhakar267 ...

[2018-07-13 15:29] Swati4star commented on #16
@prabhakar267 what is the endpoint for this?

[2018-07-13 22:44] darthgera123 commented on #87
do you want me to return the date as well

[2018-07-13 22:52] darthgera123 commented on #87
also how do i test now. Its opening the github page link on localhost

[2018-07-14 09:17] Swati4star commented on #20
@prabhakar267 @mohitkh7 What is the final endpoint for this API?
cc/ @brijeshshah13

[2018-07-14 12:29] mohitkh7 commented on #20
The final endpoint for api is
`/api/get-contributors/<project_name>`
e.g.
`/api/get-contributors/server`

the output will be in following format
[code]

[2018-07-14 16:22] Swati4star opened #92 "[Bug] Invalid response in shopping API"
### Steps to reproduce
If I search for something invalid, for example,
https://project-travel-mate.herokuapp.com/api/get-shopping-info/blaaaaa
I am receiving this response,
[code]

### Expected behaviour
An empty JSON array

[2018-07-15 06:36] mohitkh7 commented on #92
Can I work on this issue ?

[2018-07-15 07:07] Swati4star commented on #50
@darthgera123 @prabhakar267 What is the endpoint of this API?

[2018-07-15 07:11] Swati4star opened #93 "[API Request] Add an option to delete notifications"

[2018-07-15 11:12] prabhakar267 opened #94 "[API Request] Remove user from trip"
A GET API similar to [`remove-friend-from-trip`](https://github.com/project-travel-mate/server/blob/master/api/urls.py#L55) but to remove the current signed-in user. Do check
+ User is a part of the trip
+ If user is the last one in the trip, do **delete** the trip
### Input parameters
+ trip-id
### Output
+ Status code

[2018-07-15 18:58] arunikayadav42 commented on #52
@prabhakar267 how do I access the database of users?The sign-in is not working for me thorugh localhost on the browser but it does on postman.

[2018-07-15 19:53] arunikayadav42 commented on #52
@prabhakar267 i get this "This is a duplicate header and will be overridden by the Authorization header generated by Postman." when i try to put in the authorization token in postman what do i do?

[2018-07-16 09:54] #92 closed

[2018-07-16 10:02] mohitkh7 commented on #94
@prabhakar267 I am interested to work on this issue.

[2018-07-16 18:24] #89 closed

[2018-07-16 18:29] prabhakar267 commented on #46
@iamdaaniyaal updates?

[2018-07-16 18:50] prabhakar267 commented on #50
`get-all-restaurants/<str:latitude>/<str:longitude>`

[2018-07-17 05:22] techac commented on #47
@prabhakar267  can i take up this issue

[2018-07-18 16:06] prabhakar267 opened #98 "[Bug] Nearby restaurants is failing for a certain request"
`api/get-all-restaurants/28.7041/77.1025`
For this request, the response we get is `503 status code` and
[code]
It should either be an user understandable string if it is meant to fail or should be corrected

[2018-07-18 19:27] mohitkh7 commented on #93
@prabhakar267 can I take up this issue.

[2018-07-19 11:50] Swati4star opened #100 "[Bug] Get user's friends API returns user's own info also"
Suppose user `x` makes a request to
`trip-friends-all`

### Expected behaviour
the user should return user's friends

### Actual behaviour
It returns `x` info also along with the user's friends.

[2018-07-19 18:05] #98 closed

[2018-07-20 18:03] #94 closed

[2018-07-20 18:29] prabhakar267 commented on #93
I discussed this with @Swati4star
And we will not be deleting any notification from database instead we will hide them from UI

[2018-07-20 18:29] #93 closed

[2018-07-20 18:53] prabhakar267 opened #101 "[API Request] Email verification"
Whenever a new user signs up, send the user a email ([email reference docs](https://docs.djangoproject.com/en/2.0/topics/email/)) with welcome message with a unique code ([uuid reference docs](https://docs.python.org/2/library/uuid.html))

As a part of this issue
+ User should receive an email from Travel Mate team
+ Store the unique code in the Profile table to be consumed later in the verificati

[2018-07-20 19:00] prabhakar267 opened #102 "[API Request] Get static historic data for city description page"
Using existing wikipedia APIs, make a GET API  that takes `city_id` as input parameter and provides a key-value object with key as header and value as text to be rendered

[2018-07-20 21:52] darthgera123 commented on #101
can you please block this one for me. i am just stuck on a small bit of my previous pr but i want to solve a top coder

[2018-07-21 07:50] prabhakar267 commented on #101
You complete the ongoing issue
I can always make new issues
We have a lot of ideas that need to implemented

[2018-07-22 13:16] prabhakar267 opened #103 "[API Request] API for getting a list of monuments for a given city"
As a part of this issue, search for an existing API that can give us a list of monuments for a city
Integrate with that API and make a GET API that takes `city_id` as input and gives a list of monuments

[2018-07-22 15:20] prabhakar267 opened #104 "[API Request] API to get a list of all the unique cities user have in his trips"
A GET list of all the cities any user has in his list of trips.
If any user has 3 trips in 2 cities, output should be a list of 2 cities in the alphabetical order of city names
### Input
+ user id
### Output
List of cities in alphabetical order of city names

Reference PR: #69

[2018-07-22 18:52] #87 closed

[2018-07-22 18:55] darthgera123 commented on #101
please assign me this issue

[2018-07-22 19:25] darthgera123 commented on #100
ill work on it

[2018-07-23 20:31] darthgera123 commented on #101
in this issue, regarding unique code, is this used to activate the account?

[2018-07-24 06:27] darthgera123 commented on #100
just a clarification, only the name/username of the members should be returned and not the remaining details right?

[2018-07-24 08:18] prabhakar267 commented on #100
Response structure is fine, it's just that for every response we are getting the current user's information as well.
If I make a call to this API, I will get my user-object as well which should not happen

[2018-07-24 08:19] prabhakar267 commented on #101
@darthgera123 It would be used to activate account as of now
Also in the future we can leverage this for forget password functionality

[2018-07-30 18:24] #102 closed

[2018-08-01 17:39] prabhakar267 opened #109 "[API Request] Delete a profile"
A GET API to delete the current user
It should remove the entry from users table, profile table and relation to all the trips.
If some trips only have current user as trip members, then delete those trips as well.

[2018-08-01 17:50] prabhakar267 opened #110 "[API Request] Get one restaurant"
For a given restaurant ID, make a GET API using Zomato API in `food` module to given the following output parameters
Make a new class called `ZomatoDetailedResponse` in a new file `zomato_detailed_response.py`

### Input parameters
+ restaurant ID
### Output parameters
+ id
+ name
+ url
+ address
+ latitude
+ longitude
+ average_cost_for_two
+ price_range
+ currency
+ featured_image
+ user_rating_

[2018-08-01 18:44] #47 closed

[2018-08-01 19:24] techac commented on #109
@prabhakar267  i would like to take up this issue

[2018-08-01 19:52] #101 closed

[2018-08-01 20:50] darthgera123 commented on #110
i would like to work on this issue

[2018-08-02 12:04] darthgera123 commented on #110
the api is not returning the list of photos as said in the documentation

[2018-08-02 13:08] prabhakar267 commented on #110
Maybe try for some restaurant which for sure has some photos

[2018-08-02 17:32] darthgera123 commented on #110
i tried it out for the one given as example and its not returning the picture

[2018-08-04 19:16] mohitkh7 commented on #104
I would like to work on this issue.

[2018-08-04 22:26] darthgera123 commented on #46
can i work on this issue

[2018-08-05 12:54] mohitkh7 commented on #103
This API can be used to retrieve places worth visiting in a city
`https://maps.googleapis.com/maps/api/place/textsearch/json?query=indore+point+of+interest&language=en&key=xxx`

[2018-08-06 18:03] #110 closed

[2018-08-07 07:46] #104 closed

[2018-08-07 17:25] #52 closed

[2018-08-07 17:29] prabhakar267 opened #115 "[API Request] Forget password"
Make two GET APIs
+ One which sends an email to the user with a unique code which should be saved in the database in a new password verification table
Doesn't take any input parameters
+ One which accepts the unique code sent on email and a new password, if the code is correct, then validate the password. If both the things are right, reset the password of the user. Else send a 400 response

[2018-08-07 17:47] mohitkh7 commented on #115
Can I take up this issue ?

[2018-08-07 19:33] prabhakar267 opened #116 "[Feature Request] Add a field "has_visited" in city response to show if user has ever visited that city or not"
Add a boolean field `has_visited` in `CitySerializer` response in [`get_city`](https://github.com/project-travel-mate/server/blob/master/api/modules/city/views.py#L33) API
`has_visited` should show if user has ever visited that city or not
By default, it should be `False` but if the user has any trip for this city mark this field as `True`

[2018-08-07 19:40] prabhakar267 opened #117 "[Feature Request] Add a field in profile to show last time user called any authenticated API"
+ Add a new field `last_active` in `Profile` table which signifies when was the last time user called an authenticated API
+ Make a decorator which updates the `last_active` field and add this decorator to every authenticated API in project

[2018-08-07 19:44] prabhakar267 opened #118 "[API Request] API to get the total number of users"
Make a new module called `analytics` and add an API called `total-users` to return the count of total users in the database

[2018-08-07 23:22] darthgera123 commented on #46
so do you want me to extend the Profile class i.e add 2 new columns or create an entirely new table with columns as user, timestamp and checklist

[2018-08-07 23:36] darthgera123 commented on #46
also in what format do you want the time to be stored?

[2018-08-08 05:52] mohitkh7 commented on #115
Is there any existing module which sends email ?

[2018-08-08 06:21] Swati4star commented on #115
Checkout signup module. We send an email to the user on signup.

[2018-08-09 05:16] prabhakar267 opened #121 "[Feature request] Add tweet url in Twitter response"
Add tweet URL in [`SearchTweetResponse`](https://github.com/project-travel-mate/server/blob/master/api/modules/twitter/twitter_response.py) and make the corresponding change in [views](https://github.com/project-travel-mate/server/blob/master/api/modules/twitter/views.py).

[2018-08-09 16:44] Swati4star opened #122 "[Places API] Invalid string response in case of zero response"
Try out this link:
https://project-travel-mate.herokuapp.com/api/get-places/-34.7868114/-34.7868114/atm-bank-exchange

The response is
[code]

### Expected behaviour
An empty JSON array

[2018-08-10 05:39] prabhakar267 commented on #46
I think a new table would make more sense since `Profile` table should be user details related.
Timestamp can be a django model datetime object

[2018-08-14 10:42] #100 closed

[2018-08-14 11:00] #115 closed

[2018-08-16 10:11] Swati4star opened #126 "[Bug] get-city-visits API is not giving correct reponse"
For the same user, I am getting this response:

Response of `get-all-trips`
[code]

Response of `get-city-visits`
[code]

### Expected behaviour
The second API should have `Delhi`

[2018-08-16 21:18] #121 closed

[2018-08-16 21:29] #116 closed

[2018-08-16 21:42] prabhakar267 commented on #126
This is one of the funniest issues I have seen on this project 🤣

[2018-08-16 21:58] #126 closed

[2018-08-16 22:00] prabhakar267 commented on #126
@Swati4star
I have updated the URLs for both the APIs, please use the updated URLs
+ For getting visited cities for current user  `/api/get-visited-city`
+ For getting visited cities for any user  `/api/get-visited-city/<user_id>`

[2018-08-22 17:54] #122 closed

[2018-08-22 17:57] #118 closed

[2018-08-22 18:00] #117 closed

[2018-09-02 13:50] #43 closed

[2018-10-03 19:36] prabhakar267 opened #130 "[Feature Request] Raise an issue, if API key expires"
If the Places API Key expires, server should automatically raise a [GitHub issue](https://developer.github.com/v3/issues/#create-an-issue) asking for updating API key

[2018-10-03 20:20] rozig commented on #130
@prabhakar267 do you want to check it in every seconds and if its expired then raises a Github Issue? Or does the API have a webhook for this?

[2018-10-03 20:21] pkajaba commented on #130
Hello @prabhakar267,
I looked into the code and it seems that you are using Places API only here: https://github.com/project-travel-mate/server/blob/638e3d2d8b8244ec0a87d9ca1caaeacd3b4ae587/api/modules/hyperlocal/views.py#L29 Am I right?

Anyways, I was searching through the Places API documentation and I was not able to find any information about expiring of the tokens.
Their API returns `403` in

[2018-10-03 20:32] prabhakar267 commented on #130
@rozig I don't think there is any need for checking it every second, only when someone calls the API and we identify there is a potential issue with API key, we can raise a issue (_without spamming the issues panel, ofcourse_)

@pkajaba Yes, the check should be on `403` error code, if there's a problem with the credentials (either expired or something else), we would have to resolve the problem ou

[2018-10-03 20:33] prabhakar267 commented on #2
@mohitkh7 if you want to work on this, you can do it now.

[2018-10-03 20:34] prabhakar267 commented on #103
Can be fetched from Places API ([hyperlocal module](https://github.com/project-travel-mate/server/tree/master/api/modules/hyperlocal))

[2018-10-03 20:34] #103 closed

[2018-10-03 20:38] pkajaba commented on #130
@prabhakar267 that's great, thanks for your response.

I will look into it :-)

[2018-10-03 20:38] prabhakar267 opened #131 "[API Request] API to get the list of upcoming Indian holidays"
Using [timeanddate.com](https://www.timeanddate.com/holidays/india/2018)'s list of Indian holidays, generate a JSON for all the holidays in a given year.
+ Cache the response in order to avoid making repeated calls
+ Use the following structure for response (should be a list of following object):
[code]

[2018-10-03 20:50] pkajaba commented on #130
@prabhakar267 just one thing - you have to be authorized in order to create an issue. There are several ways how to provide GitHub credentials. Do you prefer generating token or password authorization?
In both cases, these value will be configurable here: https://github.com/project-travel-mate/server/blob/master/nomad/settings.py

[2018-10-03 20:52] prabhakar267 commented on #130
You can raise a PR which uses password authorization, I will add the credentials to Production.

[2018-10-03 22:08] pkajaba commented on #130
@prabhakar267 you can use either password or token. It does not matter in the end. I have actually used generated token because I use 2-phase auth for my account.

[2018-10-04 02:53] harsha444 commented on #131
will do this

[2018-10-04 05:27] udaykiranreddykondreddy commented on #109
Can i take this to work

[2018-10-04 09:30] sanghisha145 commented on #131
I would like to work on this.

[2018-10-04 13:58] mohitkh7 commented on #62
I would like to work on this issue.
Rather than creating new model for nickname we can create a new field `nickname` in `City` model.

[2018-10-04 14:26] mohitkh7 commented on #2
Since we are not using class based views in our project we can't set pagination globally.
We will have to change every view as follows -
<pre><code>@api_view(['GET'])
def get_all_cities(request, no_of_cities=8):
    cities = City.objects.annotate(visit_count=Count('logs')).order_by('-visit_count')[:no_of_cities]
    # pagination begin
    paginator = PageNumberPagination()
    paginator.page_size

[2018-10-04 15:54] prabhakar267 commented on #2
I can't think of anything better
Clearly it seems like we should have started with class based views, but it would be too much effort to port to class based views now

[2018-10-04 16:06] prabhakar267 opened #133 "Places API error - Incorrect app_code or app_id"

[2018-10-04 16:15] #133 closed

[2018-10-05 04:12] #62 closed

[2018-10-06 05:54] prabhakar267 opened #137 "[Feature Request] Add email field in "Forget password" APIs"
For [forget password APIs](https://github.com/project-travel-mate/server/blob/3acb1d3309f7613874c46dff933c04366511b7a8/api/urls.py#L35-L37), currently it tries to extract the user email address from request, but the call would be made to this APIs from an unauthenticated user, therefore add another field in the request for email (username)

[2018-10-06 06:09] adityatandon007 commented on #137
@prabhakar267 what is to be done here. Can you please elaborate. I am new to this. Before picking it up I want to know what is to be done in forget password api

[2018-10-07 16:59] arunikayadav42 commented on #68
if nobody is working on this I would like to take it up.

[2018-10-07 21:31] rohan033 commented on #137
Working on this.

[2018-10-08 18:03] kishan-1234 commented on #131
Done with the logic part. Can you please tell where to host the API or should i just print the o/p list of dictionaries as of now?

[2018-10-09 16:34] #137 closed

[2018-10-09 16:37] prabhakar267 commented on #131
@harsha444 Can you give the update?
@sanghisha145 If @harsha444 doesn't respond you can take it up
@kishan-1234 The API has to be integrated in the project itself.

[2018-10-09 17:38] kishan-1234 commented on #131
@prabhakar267 I created the API using flask framework. Following is the first three dicts in o/p

[{"date":"1","day":"Monday","month":"January","name":"New Years Day","type":"Restricted Holiday"},{"date":"14","day":"Sunday","month":"January","name":"Pongal","type":"Restricted Holiday"},{"date":"14","day":"Sunday","month":"January","name":"Makar Sankranti","type":"Restricted Holiday"},]

please tel

[2018-10-09 22:00] prabhakar267 commented on #131
@kishan-1234 Output looks good, please wait for @harsha444 to respond, If he doesn't respond then you can create an API

[2018-10-09 22:41] prabhakar267 commented on #130
Closed with #132

[2018-10-09 22:41] #130 closed

[2018-10-10 02:18] harsha444 commented on #131
@kishan-1234 please go ahead and create a PR, I didn't complete it yet.

[2018-10-10 04:15] arunikayadav42 commented on #46
if nobidy is working on it i wouod like to take it up :).I ensure to stay consistent while working on it.

[2018-10-13 09:54] amoraitis commented on #137
@rohan033 @prabhakar267 I cannot send request 'api/get-user/(user-email)'

![image](https://user-images.githubusercontent.com/17813786/46904049-103cfe00-cee7-11e8-8939-c490bbc93454.png)

[2018-10-13 10:29] rohan033 commented on #137
@amoraitis It seems that the 'get-user' feature is only available for authorised users. In the image shown above, go to the Authorization section and select the 'Basic Auth' option and enter your user credentials.
![image](https://user-images.githubusercontent.com/17281037/46904382-d973e180-cf00-11e8-979f-c77df47a8b2b.png)

[2018-10-13 10:36] amoraitis commented on #137
@rohan033 I know how to use authorization, but we need an endpoint, which will inform us if a user exists, given the e-mail. Am I getting this wrong?

[2018-10-13 10:49] rohan033 commented on #137
@amoraitis Currently we receive an empty body in case when username/mail doesn't exist.
We might not require a new end point, instead throw an exception for such cases.
You can raise an issue regarding this and start working on it.

[2018-10-13 11:35] Swati4star commented on #137
@amoraitis `api/get-user/(user-email)` should work with authorization only.

You don't need above API to verify user's email.
Just call this API
`https://project-travel-mate.herokuapp.com/api/forgot-password-email-code/<email>`

if email is valid, the response is "Email sent", else it is "Invalid username"
I think this should solve your issue.

[2018-10-13 11:39] rohan033 commented on #137
@Swati4star What should happen when there is 'user-email' doesn't exist? Currently we get an empty body. Shouldn't we throw an exception?

[2018-10-13 11:43] Swati4star commented on #137
Actual empty array is also fine.

This API is actually is also used for getting all the user's whose emial id start with a particular key. For example,
https://project-travel-mate.herokuapp.com/api/get-user/swa

So, in this case, an empty array makes sense

[2018-10-13 11:44] rohan033 commented on #137
@amoraitis I hope @Swati4star made it clear.

[2018-10-13 15:53] amoraitis commented on #137
@Swati4star @rohan033 ok, i see, i thought i could use /get-user endpoint

[2018-10-18 12:00] #131 closed

[2018-10-19 05:42] prabhakar267 opened #143 "[API Request] Add an API to send a verifcation code to user"
Create a `GET` API for sending a 6 character verifcation code (generated using [`generate_random_code`](https://github.com/project-travel-mate/server/blob/f989df143e4fb6cb91e9e21bf4e546507feabd17/api/modules/users/utils.py#L6))

+ Create a field in [Profile Model](https://github.com/project-travel-mate/server/blob/master/api/modules/users/model.py#L8) to store verification code
+ Add a template in

[2018-10-21 00:09] neequole commented on #143
@prabhakar267 Hi, would like to give this a shot. Can you give me context on this feature like where would this be used,  what is the difference between the `PasswordVerification` model?

* Create a field in Profile Model to store verification code - are you sure to put it here?
         - if yes, should we add a created_at field?
         - if not, should we create a new model like the PasswordVe

[2018-10-21 01:10] prabhakar267 commented on #143
@neequole You can use the `PasswordVerification` model, it was meant for this feature only.
You should add a `created_at` field.

[2018-10-21 06:09] #143 closed

[2018-10-21 06:30] prabhakar267 opened #146 "[API Request] Add an API to verify user"
Add a GET API in users module which takes `verification_code` as parameter and matches it with code from `PasswordVerification` table.
If the code matches, set `is_verified` flag as true in `Profile` table.

### Tasks to be done for this issue
+ Add API to take `verification_code`
+ Match verification_code from `PasswordVerification` table
+ Set `is_verified` flag as true in `Profile` table if cod

[2018-10-21 08:23] vhugo commented on #146
I'd like to work on this.

[2018-10-22 10:17] #146 closed

[2018-10-22 18:20] prabhakar267 opened #150 "[Feature Request] Show public trips even if user is not part of that trip"
For `get_trip` API in `trips` modules,
if for the given trip `is_public` flag is `True`, regardless of if `request.user` is part of that trip or not, show the details of trip.

[2018-10-23 05:52] #150 closed

[2018-11-02 10:36] Rudloff opened #153 "License?"
Hello,

I did not find any license file in this repository.
Would it be possible to clarify the license of this source code? Is it MIT like the Android app?

[2018-11-02 10:41] Swati4star commented on #153
Yes. It is MIT only. Added in https://github.com/project-travel-mate/server/commit/4ca2666cd49694245aeee0e658bf5ebce448e50e

[2018-11-02 10:41] #153 closed

[2018-11-02 10:45] Rudloff commented on #153
Thank you for the clarification!

[2019-02-13 23:26] sumit-badsara commented on #46
@prabhakar267 please assign this issue to me.

[2019-03-01 20:22] HemabhKamboj commented on #46
Hey, I am working under GSSoC 19. Is this issue open? If yes, I would like to work on this.

[2019-03-01 20:41] HemabhKamboj commented on #68
If nobody is working, I would like to take this up under GSSoC 19. WIll use Google Maps or MapMyIndia APIs.

[2019-03-01 20:46] codersanjeev commented on #68
Hi @HemabhKamboj you can start working on the issue.

[2019-03-01 20:58] HemabhKamboj commented on #68
Great, thanks

[2019-03-02 02:57] Swati4star commented on #46
This isnt open. A PR has already been created for this issue.

[2019-03-02 04:48] GouravSardana commented on #68
@HemabhKamboj Go ahead and start working with google maps api

[2019-03-04 18:42] shikharvaish28 opened #155 "Sign-up API request not returning appropriate message"
Even though the code has been written for returning the message while doing the sign-up, it's registering the user but not returning the message in any case.

### Steps to reproduce

This issue can be reproduced by sending a POST request from Postman. Once the necessary fields are filled in and the request is sent, the status of the app changes to ```Sending``` until ```Cancel``` is pressed. After

[2019-03-05 12:00] gutsytechster commented on #155
I would like to work on this issue.

[2019-03-06 04:07] shikharvaish28 commented on #155
Go ahead @gutsytechster

[2019-03-07 13:19] gutsytechster commented on #155
I tried several times with different users to sign-up. Initially, it was taking time to respond and giving error as `[Errno 101] Network is unreachable`. Though after few attempts it started to show message as `"Registration successful. Unable to send a welcome email to user"`.
Since it can't authenticate the `EMAIL_HOST`, it throws the `SMTPException` and fall into the except clause here https://

[2019-03-09 06:39] GouravSardana opened #156 "Google Map API"
Hemabh has completed the assigned API work. Is there is any thing to add up?

[2019-03-09 14:12] HemabhKamboj commented on #156
Travis build is failing due to warnings of psycong2 wheel library.
shall I change requirements.txt

[2019-03-09 14:16] GouravSardana commented on #156
Yeah you can change the requirements.txt. so that travis build will get success

[2019-03-10 11:40] shikharvaish28 commented on #155
I was able to reproduce what you're saying @gutsytechster

There's another case wherein the password constraints are not fulfilled because of which sign-up faces the issue, but we don't get the appropriate message. It would be great if you could investigate a bit into it.

[2019-03-14 09:44] gutsytechster commented on #155
I tried giving an invalid password but it gives me the response as `Invalid Password`. I am not able to reproduce what you are saying.

[2019-03-14 20:09] shikharvaish28 opened #158 "Change the config in requirements.txt"
Change the config from  ```psycopg2==2.7.4``` to ```psycopg2-binary==2.7.7```

[2019-03-14 20:10] shikharvaish28 commented on #158
@HemabhKamboj

[2019-03-15 20:14] shikharvaish28 commented on #158
@Swati4star @prabhakar267 This PR is ready to be merged.

[2019-03-17 06:21] #158 closed

[2019-04-20 12:42] prabhakar267 commented on #46
Closing. No longer needed!

[2019-04-20 12:42] #46 closed

[2019-04-20 12:51] prabhakar267 commented on #68
Google API is a paid service and we plan on keeping Travel-Mate free, hence I don't see any other feasible option to include this feature as of now.

[2019-04-20 12:51] #68 closed

[2019-05-25 06:02] prabhakar267 opened #160 "[Feature Request] Add number of verified users in analytics API"
Currently the response from [`get_total_users`](https://github.com/project-travel-mate/server/blob/master/api/modules/analytics/views.py) API in `analytics` module does not have a field for number of verified users.

### Expected behaviour
Add a new field in response to show number of verified users.

[2019-05-25 06:08] prabhakar267 commented on #155
After testing manually, the issue seems to be in `send_email` method.
For a successful Sign up, `201` response code is sent along with a welcome email to user. And for an unsuccessful sign up, `400` code with the reason is sent.

To fix this, we need to add a check that if the server is running in `debug` mode, do not attempt to send email. This can be done by abstracting the emailing sending part

[2019-06-15 20:13] sumit-badsara commented on #160
@prabhakar267 I have added extra response `active_verified_users` with `verified_users`. If that is not required. Please tell me, I will create a new PR, with required changes.

[2019-06-16 08:20] #160 closed

[2019-06-16 08:20] prabhakar267 commented on #160
@BadduCoder Merged PR. Great work 👍

[2019-07-07 04:42] ShivangiSingh17 opened #162 "The currency converter does not work"
### Description
The feature "currency converter" available under the ```Utilities``` section does not.

### Steps to reproduce
Utilities>Currency Converter
### What the current behaviour is?
The converter does not convert the value provided in the desired currency. Eg. If we convert Rs.1 to bitcoin it is showing value to be 00001375, 0.000001462 etc. and the actual value is much higher to about 76

[2019-07-20 14:03] Swati4star commented on #162
@ShivangiSingh17 Sure

[2019-08-13 12:44] louelidrissi commented on #162
Is someone taking over this ?

[2019-08-14 14:49] Swati4star commented on #162
No @lelmedda
You want to take up this issue?

[2019-08-15 09:53] nasreekar commented on #162
Can I work on this if this is not taken up yet?
Also, are there any developer credentials which I can use. There seems to be an issue with creating a new account (throwing unable to send email error message)

[2019-08-18 07:08] Swati4star commented on #162
Yes, you can. @nasreekar
you can use these credentials:
email: testing123@gmail.com
password: Test@123

[2019-08-19 05:55] nasreekar commented on #162
@Swati4star  Looks like the API is not working.
Not receiving any value from the API call.

`Response{protocol=http/1.1, code=503, message=Service Unavailable, url=https://project-travel-mate.herokuapp.com/api/get-currency-conversion-rate/USD/INR}`

Can you check if there is any problem with the API at the backend ?

[2019-08-19 06:04] Swati4star commented on #162
@nasreekar Yes, there seems to be some issue with this service. @prabhakar267 will look into this.

[2019-08-19 06:12] nasreekar commented on #162
let me know once it is fixed so that I can pick it up.  :)

Also, an _enhancement_ suggestion.
If there is an error with the converter, it is showing an animation but then clicking on the back button is dismissing the whole activity and navigating the user to utilities fragment. It would be great if the user is navigated to the currency converter activity instead of utilities so that the user does

[2019-08-19 06:34] prabhakar267 opened #163 "Discuss contract between APIs and Android client for invalid external services response"
We make a call to number of external services for currency conversion, weather, etc. If we get no response / invalid response / error from those external services, the error message from services is propogated to Android app.
We can come up with a uniform resposne which is descriptive and is to be sent in case any external service fails.

[2019-08-21 09:54] Swati4star commented on #162
Sure @nasreekar
Also, can you open up another issue for the suggestion you mentioned? If you want, you can start working on that too.

[2019-09-04 14:03] #162 closed

[2019-09-04 14:40] #163 closed

[2019-10-01 16:58] prabhakar267 commented on #156
This has been fixed. Closing the issue

[2019-10-01 16:58] #156 closed

[2019-10-07 05:08] prabhakar267 opened #166 "[Enhancement] Generate new forget password code after 24 hours"
When a user clicks on forget password, a code is sent to the user’s email ID. A random code is generated and stored in DB for when user enters the code in app, it can be verified.

The code should be only valid for 24 hours. Add a check in code generation to see if there’s a code from last 24 hours, then use the same code, else generate a new one.

[2019-10-08 15:34] prabhakar267 opened #168 "[Enhancement] Generate new password verification code after 24 hours"
When a user clicks wants to verify password in the app, a code is sent to the user’s email ID. A random code is generated and stored in DB for when user enters the code in app, it can be verified.

The code should be only valid for 24 hours. Add a check in code generation to see if there’s a code from last 24 hours, then use the same code, else generate a new one.

[2019-10-08 15:35] #168 closed

[2019-10-10 11:18] #166 closed

[2019-10-13 18:25] prabhakar267 opened #170 "[Documentation] Add instructions for adding city information to database"
There are no APIs to add a new city to the database, so in order for someone to test any city API, they need to either use some Postgres UI application or use PS CLI. Easiest way being Django admin dashboard.

In order to add a new city using Django admin, someone needs to create a Django superuser, run application and then add City information.

Add instructions in Troubleshooting guide for the s

[2019-10-13 23:16] annp89 commented on #170
Hi!
I'd like to contribute to this ask.

Is the ask adding a new section in https://github.com/project-travel-mate/server/blob/master/TROUBLESHOOTING.md explaining how to access Django admin by creating a superuser and access the City table to add data in there for testing?

Would you like the docs for the superuser setup be added to the README.md file as well?

[2019-10-14 09:28] #170 closed

[2019-10-14 15:15] prabhakar267 opened #172 "[Enhancement] Add a validation for email address in validate_email"
Currently we have only one validation for email address verification in `validate_email` which is if `@` is present in string or not. We can use [`parseaddr`](https://stackoverflow.com/a/14485817) Python util to check if the string is a valid email address or not.

+ Add a new validator in [`users.validators`](https://github.com/project-travel-mate/server/blob/master/api/modules/users/validators.p

[2019-10-14 15:27] fsjoyti commented on #172
Can I take this one up? I would like to give it a shot.

[2019-10-14 15:35] prabhakar267 commented on #172
@fsjoyti sure.

[2019-10-15 20:17] #155 closed

[2019-10-16 12:19] prabhakar267 commented on #172
Fixed in #175

[2019-10-16 12:19] #172 closed

[2019-10-16 12:19] #2 closed

[2019-10-20 09:23] prabhakar267 opened #176 "Remove nickname field from City Model"
There is an unused field `nickname` in City model. Remove the APIs exclusive to nickname and make changes in dB accordingly

[2019-10-20 09:28] #176 closed

[2020-01-16 10:05] lewisgarton opened #183 "Missing images in most poular cities [BUG]"
**Describe the bug**
Images are missing from some items in the "most popular cities"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Most popular cities

**Expected behavior**
Images should resolve.

**Screenshots**
![Screenshot_20200116-225444_Travel Mate](https://user-images.githubusercontent.com/32315300/72515256-7962ac80-38b4-11ea-840a-5149317ef920.jpg)

**Device Information (pleas

[2020-01-19 05:04] nikochiko opened #181 "Add virtualenv instructions for Windows"
Describe your issue here.

### Steps to reproduce
reference: https://github.com/project-travel-mate/server/blob/master/README.md#local-setup-instructions

### Expected behaviour
As the Postgres step includes instructions for both Linux and Windows, the virtualenv step should also include instructions for both.

### Actual behaviour
Currently, the readme (only contains virtualenv instructions for L

[2020-01-19 05:51] Swati4star commented on #183
Are the images link we are receiving correct?

[2020-01-29 13:57] HeinKhantZaw commented on #183
@Swati4star, I found out that most of the images link are working but some links are download links not image links and these links are the one that are missing in the app.

[2020-01-29 14:12] HeinKhantZaw commented on #183
![image](https://user-images.githubusercontent.com/40730345/73363825-d8261e00-42d7-11ea-9589-b2483aa5b71f.png)

[2020-01-29 20:01] Amrit27k commented on #183
@Swati4star @HeinKhantZaw , Can you explain it to me where are the other cities io response for popular cities layout?

[2020-01-31 11:32] Swati4star commented on #183
@HeinKhantZaw Can we handle these on our side, or do we have to change them from server only?

[2020-02-03 22:33] prabhakar267 commented on #183
Maybe we can have something like, if the image link is broken, we make a call from client side to a different API which can store the city id and we check the issue manually offline.
@Swati4star any comments?

[2020-02-06 03:02] HeinKhantZaw commented on #183
In my opinion, I think we should change image link from server side since API response is the same. So, I think the problem is from the server side.

[2020-02-06 20:57] prabhakar267 commented on #183
Yes @HeinKhantZaw that's the solution but how would you know which images to be replaced without manually opening every single link?
Can you provide me a list of cities that need to be changed right now

[2020-02-07 03:57] prabhakar267 commented on #181
@nikochiko Can you raise a PR for the same?

[2020-02-07 07:49] HeinKhantZaw commented on #183
@prabhakar267

List of cities that need to be changed - Delhi, Bangalore, Chennai, Panjim.

[2020-02-07 11:07] nikochiko commented on #181
@prabhakar267 I've added the PR! I got a bit distracted in between so sorry for the delay.

[2020-02-07 16:41] #181 closed

[2020-02-20 09:17] prabhakar267 opened #185 "Use standard python formatters to keep the project uniform"
https://github.com/psf/black
https://github.com/timothycrosley/isort

[2020-03-04 16:43] projectworldsofficial opened #186 "not working"
Describe your issue here.

### Steps to reproduce
i am not know
![5e32e8ff-3d31-4f8e-93f3-f5d20371e6e1](https://user-images.githubusercontent.com/33458568/75901437-80de1500-5e64-11ea-88d4-dafa324a7dc6.png)
![077e4f40-58cb-4f3f-aef7-f1996854c93a](https://user-images.githubusercontent.com/33458568/75901496-9ce1b680-5e64-11ea-80bc-743073c81e30.png)
![6a5af006-6b9f-420c-9c88-857c70c9eea3](https://user

[2020-03-04 17:52] prabhakar267 commented on #186
@projectworldsofficial I can clearly see, you are trying to create a knock off for Travel Mate and very creatively are calling it "Travel Buddy". Now that you are not able to even copy the complete source code provided, do you really expect us to help you with the issue?

If you want to use Travel Mate or its source code for educational purposes please email us at projecttravelmate.github.io@gmail

[2020-03-04 17:52] #186 closed

[2020-03-25 18:42] alfje2000 opened #187 "Keep getting 503 on API pulls..."
When i try to access server from mobile app the server connections fails .....
All API calls are getting 503
Did installation by the documentation on this page.
Server runs well

===============
this is the first fail when opening a city on destination page for example
After that the App craches and on server we see:

"GET /api/get-city-weather/1 HTTP/1.0" 503 83
"GET /api/get-city-weather/2 HTTP/

[2020-03-25 20:29] prabhakar267 commented on #187
@alfje2000 Can you share the complete response?
I'm able to get the response for the same API.

[2020-03-26 10:10] alfje2000 commented on #187
@prabhakar267 Hello, this is a complete logging from an API request (Django logging)
[code]

[2020-03-27 13:27] alfje2000 commented on #187
There were no enviroment variables loaded(api keys etc).....in the mean time it works.

[2020-03-27 13:27] #187 closed

[2020-04-02 13:46] alfje2000 opened #189 "[API_REQUEST](New) city (names) do not fetch data from Wiki"
Some cities I create does not fetch (extract) data from WIKI
When I click 'Know more about ...." in the app then no data is fetched.
Mainly small cities....and with the exact API wiki call given in the Internetbrowser it works with that city.

How come?

[2020-04-02 13:51] alfje2000 opened #190 "[API_REQUEST]I want to fetch city data from WIKI in other language"
I tried to fetch data in other language from WIKI

I changed the
wiki_api_url = "https://en.wikipedia.org/w/api.php" + \
                       "?action=query&prop=extracts&explaintext&titles=" + \
                       city.city_name + \
                       "&format=json"

into

wiki_api_url = "https://nl.wikipedia.org/w/api.php" + \
                       "?action=query&prop=extracts&explain

[2020-04-02 17:22] #183 closed

[2020-04-02 17:26] prabhakar267 commented on #189
@alfje2000 Can you gave the name of any city or any city ID which shows this error

[2020-04-02 18:01] alfje2000 commented on #189
I created some dutch cities 'Enschede and Deventer'...and more.... When i click Know more about this city it keeps searching. Other cities I created for example Almelo do fetch this data correct.

[2020-04-07 05:51] Swati4star commented on #190
@alfje2000 what response are you getting with the second API?

[2020-04-07 23:01] prabhakar267 opened #191 "Change return type for message when URL Validator fails"
In the URL validation for add image API, if the URL is incorrect it returns a list of messages of length 1. We should only return the message, not the str of error message but for all other exceptions it should be as it is right now.
https://github.com/project-travel-mate/server/blob/c6710072ee252e8d20c5ed7b917fd9db85cad338/api/modules/admin/views.py#L35

[2020-04-08 06:45] alfje2000 commented on #190
@Swati4star ...I commented this issue also in the android app section. It must me something with json parsing. The app does not respond on this and shows the animated blue picture.

[2020-04-09 10:56] #191 closed

[2020-04-11 15:13] #190 closed

[2020-04-11 15:13] #189 closed

[2020-05-01 10:10] alfje2000 opened #193 "@prabhakar267: Weather API forecast works with default server but not working with my own server?"
The openweather api works perfectly with the default server. When i use my own server and openweather API  only the api/weather? works and the /daily/forecast? api does not?
I think this 5 day forecast should work normally with the FREE openweather key?

[2020-05-14 14:47] prabhakar267 commented on #193
You need to check the documentation provided on [openweathermap](https://openweathermap.org/) website.

[2020-05-14 14:47] #193 closed

[2020-09-30 19:12] pvmonte1 opened #195 "server don't run"
Describe your issue here.
"C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate\env\lib\site-packages\rest_framework\authtoken\models.py", line 6, in <module>
    from django.utils.encoding import python_2_unicode_compatible
ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding' (C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate\env\lib\site-p

[2020-10-01 07:42] prabhakar267 commented on #195
@pvmonte1 Seems like you are using Python 2. The code is developed and tested only in Python 3
Please upgrade to Python 3 to run the system on your machine.

[2020-10-01 07:42] #195 closed

[2020-10-01 15:29] pvmonte1 commented on #195
(env) C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate\env>python --version
Python 3.8.3

(env) C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate\env>cd ..

(env) C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate>cd server

(env) C:\Users\pedro.DESKTOP-M7PE3U6\Desktop\Web_Pages\Travel_mate\server>python manage.py runserver
  File "C:\Users\pedro.DESKTOP-M7PE3U6\Ap

[2020-10-01 15:37] prabhakar267 commented on #195
@pvmonte1 did you follow the steps from setup (https://github.com/project-travel-mate/server#local-setup-instructions)?

[2020-10-01 16:07] pvmonte1 commented on #195
Yes, the only thing i did differently is try to use mysql DB

[2021-04-30 23:47] mohdshadaab opened #199 "api creation"
can someone please explain how to do the last part where we have to create the api??

[2022-05-05 23:00] Bhavyaseth-afk commented on #199
Can you let me know which API to create ? If its open source!